@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Your Favorite Restaurants!!</h1>
    </div>
    <div class="home-buttons center">
        <a href="/restaurants" class="btn btn-success">View All Restaurants</a>
        <br>
        <br>
        <a href="/cuisines" class="btn btn-success">View Restaurants By Cuisine</a>
        <br>
        <br>
        <a href="/restaurants/new" class="btn btn-success">Add New Restaurants</a>
        <br>
        <br>
        <a href="/about" class="btn btn-success">How To Use</a>
        <br>
    </div>
</div>
