@{
    ViewData["Title"] = "New Restaurant";
}
<form method="post" action="/restaurants">
  <div class="form-group">
    <label for="formGroupExampleInput">Restaurant Name</label>
    <input type="text" name="restaurantName" class="form-control" id="formGroupExampleInput" placeholder="Hotlips Pizza" required >
  </div>
    
  <div class="form-group">
    <label for="formGroupExampleInput2">Address</label>
    <input type="text" name="restaurantStreet1" class="form-control" id="formGroupExampleInput2" placeholder="1234 SW Main Street" required >
  </div>
    
  <div class="form-group">
    <label for="formGroupExampleInput2">City</label>
    <input type="text" name="restaurantCity" class="form-control" id="formGroupExampleInput2" placeholder="Portland" required >
  </div>
    
  <div class="form-group">
      <label for="formGroupExampleInput2">State</label>
      <select name="restaurantState" class="form-control" required >
        <option value="">Select state...</option>
        <option value="OR">OR</option>
        <option value="WA">WA</option>
        <option value="CA" >CA</option>
      </select>
  </div>
    
  <div class="form-group">
    <label for="formGroupExampleInput2">Zip</label>
    <input type="number" name="restaurantZip" class="form-control" id="formGroupExampleInput2" placeholder="12345" required >
  </div>

  <div class="form-group">
      <label for="formGroupExampleInput2">Cuisine</label>
      <select class="form-control" required >
        <option name="restaurantState" value="">Select cuisine...</option>
        <option name="restaurantCuisine" value="1">American</option>
        <option name="restaurantCuisine" value="2">Mexican</option>
        <option name="restaurantCuisinee" value="3">Chinese</option>
        <option name="restaurantCuisine" value="4">Thai</option>
        <option name="restaurantCuisine" value="5">Indian</option>
        <option name="restaurantCuisine" value="6">Japanese</option>
        <option name="restaurantCuisine" value="7">Italian</option>
        <option name="restaurantCuisine" value="8">Vegetarian / Vegan</option>
        <option name="restaurantCuisine" value="9">Pub / Bar</option>
        <option name="restaurantCuisine" value="10">Korean</option>
        <option name="restaurantCuisine" value="11">Fusion / Hybrid</option>
      </select>
  </div>
    
  <div class="form-group">
    <label for="formGroupExampleInput2">Atmosphere</label>
    <input type="text" name="restaurantAtmosphere" class="form-control" id="formGroupExampleInput2" placeholder="Date Night, Casual, etc." required >
  </div>

  <div class="form-group">
      <label for="formGroupExampleInput2">Price</label>
        <br>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="restaurantPrice" id="exampleRadios1" value="$" required>
          <label class="form-check-label" for="exampleRadios1">
            $
          </label>
       </div>
       <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="restaurantPrice" id="exampleRadios2" value="$$" required>
          <label class="form-check-label" for="exampleRadios2">
            $$
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="restaurantPrice" id="exampleRadios2" value="$$$" required>
          <label class="form-check-label" for="exampleRadios2">
            $$$
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="restaurantPrice" id="exampleRadios2" value="$$$$" required>
          <label class="form-check-label" for="exampleRadios2">
            $$$$
          </label>
        </div>
   </div>
    
  <div class="form-group">
      <label for="formGroupExampleInput2">Portion</label>
      <select name="restaurantPortion" class="form-control" required >
        <option name="restaurantState" value="">Select size...</option>
        <option>Small</option>
        <option>Standard</option>
        <option>Large</option>
        <option>Shareable</option>
      </select>
    </div>  

    <div class="form-group">
      <label for="formGroupExampleInput2">Rating</label>
        <br>
       <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="restaurantRating" id="exampleRadios1" value="1" required>
          <label class="form-check-label" for="exampleRadios1">
            1
          </label>
       </div>
       <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="restaurantRating" id="exampleRadios2" value="2" required>
          <label class="form-check-label" for="exampleRadios2">
            2
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="restaurantRating" id="exampleRadios2" value="3" required>
          <label class="form-check-label" for="exampleRadios2">
            3
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="restaurantRating" id="exampleRadios2" value="4" required>
          <label class="form-check-label" for="exampleRadios2">
            4
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="restaurantRating" id="exampleRadios2" value="5" required>
          <label class="form-check-label" for="exampleRadios2">
            5
          </label>
        </div>
    </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Comments</label>
    <textarea class="form-control" name="restaurantComments" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>

    <button class="btn btn-primary" type="submit">Add Restaurant!</button>
</form>