@{
}

<p>Are you sure you want to delete all restaurants from your collection?</p>

<form action="/restaurants/delete" method="post">
    <button class="btn btn-success">Yes</button>
</form>
<a href="/restaurants/" class="btn btn-danger">No</a>
