@{
    ViewData["Title"] = "Restaurants";
}

<div class="container">
    <div class="jumbotron">
        <h1>My Restaurants</h1>
    </div>
    <ul>
    @foreach (var restaurant in Model)
    {
        <li><a href="/restaurants/@restaurant.Id">@restaurant.Name</a></li>
    }
    </ul>

    <a href="/restaurants/" class="btn btn-success">Add New Restaurant</a>
</div>
